.mobile-read-more--wrapper {
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  &.mobile-read-more--wrapper--expanded {
    margin-bottom: 0;
    .mobile-read-more--overlay {
      display: none;
    }
  }
}

.mobile-read-more--overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mobile-read-more--gradient {
  height: 100px;
  background: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 0.3),
                  rgba(255, 255, 255, 0.6),
                  rgba(255, 255, 255, 0.8),
                  rgba(255, 255, 255, 0.9),
                  rgba(255, 255, 255, 0.95),
                  rgba(255, 255, 255, 1)
  );
  overflow: hidden;
}

.mobile-read-more--button {
  width: 100%;
  padding: 4px 0 6px;
  border: none;
  font-family: polaris_book;
  color: #ffffff;
  background: #0081CC;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
  &:focus,
  &:active {
    background: #004D7A;
  }
}
